<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YelpCamp | Find a campground near you</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <!-- lookup right pathway for stylesheet -->
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-main">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">YelpCamp</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- hide and show appropriately -->
      <% if(!currentUser){ %>
        <!-- if no current user -->
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
      <% } else { %>
          <li><a href="#">Signed in as <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
      <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <!-- empty errror array would still return true, so have to check error and error.length -->
    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <%  } %>
  </div>
  <div class="container">
    <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>
  </div>
