@import "typography";
@import "carousel";


.jumbotron-container, .campground-container {
  margin-top: 50px;
}


.navbar-main {
  margin-bottom: 0;
}

.thumbnail-img img {
  width: 100%;
}

.thumbnail-style {
  padding: 0;
  .caption-style  {
    padding: 15px;
  }
}

#delete-form{
  display: inline;
}

.tent-icon {
  font-size: 1.5em;
  top: 10px;
}
