.thumbnail-img img {
  width: 100%;
}

.thumbnail-style {
  padding: 0;
  .caption-style {
    padding: 15px;
  }
}

#delete-form{
  display: inline;
}

h1 {
  margin-bottom: .8em;
}

.tent-icon {
  font-size: 1.5em;
  top: 10px;
}
