<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YelpCamp | Find a campground near you</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
