<% include ./partials/header %>


<div class="container text-center">
  <h1>Welcome to YelpCamp!</h1>
  <p>View our hand-picked campgrounds from all over the world</p>
  <p>
  <a class="btn btn-primary btn-lg" href="/campgrounds">View Campgrounds</a>
</div>


<% include ./partials/footer %>
